  .category-page{
    position:relative;
    left:0;
    top:-30px;
  }
  .categoryhead{
    background-color: #0d1b2a;
    color: white;
    display: block;
  }
  .category-page h1 {
    text-align: center;
   
  }
  
  .category-page ul {
    list-style: none;
    padding: 0;
  }
  
  .category-page li {
    background-color: #f4f4f4;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 5px;
  }

  #central{
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  #left,#right{
    display:flex;
    flex-direction: column;
  }
  #left{
    text-align: center;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px; 
    margin-top: 35px;   
    
  }

  
  #left #filter{
    background-color:#142d4c ;
    padding: 20px;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: sticky;
    top:0;
  }
  #right{
    align-items: center;
    width: 100%;
  }