.item-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width:355px;
  height:250px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px;
}

.item-card img {
  width: 100%;
  height: 100%;
  display: block;
  aspect-ratio:1;
  transition: transform 1.5s;
}

/* Price Book Details Section (Hidden Element) */
.itemcard-pricebookdetails {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0d1b2a;/* Dark background */
  color: white;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out; /* Smooth slide effect */
  transform: translateY(50%); /* Partially visible (only name) */
}

/* Slide-up effect on hover */
.item-card:hover .itemcard-pricebookdetails {
  transform: translateY(0); /* Fully visible */
  z-index: 2;
}

/* Product Name (Always Visible Initially) */
.itemcard-product-name {
  font-size: 18px;
  font-weight: bold;
}

/* Location Text (Hidden Initially) */
.itemcard-product-location {
  font-size: 15px;
  margin-bottom: 3px;
  font-weight: bold;
}


/* Price and Book Button */
#price_book {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.itemcard-product-price {
  font-size: 18px;
  font-weight: bold;
}

.itemcard-product-book-button {
  padding: 8px 16px;
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.itemcard-product-book-button:hover {
  background-color: #d62828;
}
.item-card:hover img{
  transform: scale(1.15);
}
