/* Rentals container */
.your-rentals-page .rentals-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  padding: 20px;
  gap: 20px;
  justify-content: center; 
}

/* Rental card styling */
.your-rentals-page .profile-rental-card {
  background: linear-gradient(to top, #142d4c, black); /* Card background */
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: row; /* Image on the right side */
  align-items: flex-start;  /* Aligns content to the top */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 100%; /* Full width by default */
  /* Two cards per row with gap space */
  box-sizing: border-box; /* Prevents content from overflowing */
  overflow: hidden; /* Ensures the card doesn't exceed boundary */
}

/* Card hover effect */
.your-rentals-page .profile-rental-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
}

/* Responsive styles for single column on smaller screens */
@media (max-width: 768px) {
  .your-rentals-page .profile-rental-card {
    max-width: 100%; /* Full width for single column on smaller screens */
  }
}

/* Image styling */
.your-rentals-page .profile-rental-card img {
  width: 200px;  /* Fixed width for image */
  height: 200px;
  border-radius: 10px;
  margin-left: 20px;  /* Space between image and content */
  max-height: 100%; /* Ensures image height stays proportional */
  object-fit: cover; /* Prevents image stretching */
}

/* Content section (text) */
.your-rentals-page .profile-rental-card .profile-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  max-width: calc(100% - 220px); /* Prevents text from overflowing with image size */
}

/* Card description styling */
.your-rentals-page .profile-rental-card p {
  font-size: 16px;
  margin-bottom: 8px;
  color: #bfbfbf; /* Description color */
  word-wrap: break-word; /* Ensures long words wrap */
}

/* Price styling */
.your-rentals-page .profile-rental-card p strong {
  color: #e74c3c; /* Price highlight color */
}

/* Loading and error messages */
.your-rentals-page p {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.your-rentals-page .error-message {
  text-align: center;
  color: #e74c3c; /* Error message color */
  font-size: 20px;
}


.mbn-user-bookingstatus {

  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  text-transform: uppercase;
  color: white;
  justify-content: center;
}

.mbn-user-bookingstatus.booked {
  background-color: #007bff;
}

.mbn-user-bookingstatus.ready {
  background-color: #28a745;
}

.mbn-user-bookingstatus.using {
  background-color: #ffc107;
  color: black;
}

.mbn-user-bookingstatus.completed {
  background-color: #6c757d;
}
